<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/favourites.css">
    <title>Favourites & Blacklist | Lord of the Rings</title>
</head>
<body>
    <main>
        <div class="emptyspan">

        </div>

        <%- include('partials/header.ejs') %>


        <div class="hero">

            <div class="linearmain">
                <div class="linear"></div>
                    <h2 class="lineartitle">Favourites</h2>
                <div class="linear"></div>
            </div>

            <div class="favourites" id="favourites">
                <% for (const favorite of favorites) { %>
                <div class="favouriteList">
                  <div class="favouriteQuote">
                    <h2 class="dialog"><%= favorite.dialog %></h2>
                    <h2 class="author"><%= favorite.character %></h2>
                    <h2 class="invisible" id="<%= favorite._id %>"><%= favorite._id %></h2>
                  </div>
                  <button class="btn" onclick="deleteFavourite('<%= favorite._id %>')">Clear</button>
                </div>
                <% } %>
              </div>
              
              <div class="linearmain">
                <div class="linear"></div>
                <h2 class="lineartitle">Blacklisted</h2>
                <div class="linear"></div>
              </div>
              
              <div class="blacklist" id="blacklist"></div>
              
              <a href="/home"><button class="btn2">← Back</button></a>
              <div class="emptyspan"></div>
              </div>

              <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
              <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
              
              <script>
                const deletedFavourites = [];
              
                const deleteFavourite = (favoriteId) => {
                  const favouriteElement = document.getElementById(favoriteId);
                  favouriteElement.parentNode.parentNode.remove();
                  console.log(favoriteId, "LOOK");
                  console.log(favouriteElement.id);
                  console.log('Deleting from favourites...', favoriteId);
              
                  deletedFavourites.push(favoriteId); // Add the favorite ID to the array
              
                  axios.post('/deleteFavourite', { favoriteIds: deletedFavourites })
                    .then(response => {
                      console.log('Deleted from favourites');
                    })
                    .catch(error => {
                      console.error('Error:', error);
                    });
                };
              </script>
              
              
    </main>
    <%- include('partials/footer.ejs') %>
</body>
</html>